main {
  background: #fdfcf9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  width: fit-content;
  border-top: 4px solid #0E2A57;
  border-bottom: 4px solid #0E2A57;
  border-left: 4px solid #0E2A57;
  border-right: 4px solid #0E2A57;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
}

#confirmacion {
  background-color: white;
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 320px;
  max-width: 100%;
}

h2 {
  font-size: 16px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

section {
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
}

section h3 {
  font-size: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #111;
}

section p,
section li {
  font-size: 12px;
  line-height: 1.6;
  text-align: center
};


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.botonesConfirmacion {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: rgb(52, 7, 253);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 14px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s linear;
  width: 100%;
  margin-bottom: 10px;
}

button:hover {
  background-color: #02532b;
}

#mensajePopup{
display:none;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background-color:#0E2A57;
  color:#F7E031;
  padding:20px;
  border-radius:15px;
  box-shadow:0 0 15px rgba(0,0,0,0.4);
  text-align:center;
  font-family:'Press Start 2P', cursive;
}
  