select {
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 0.9rem;
  width: 100%;
  border: 1px solid #ccc;
  transition: background-color 0.3s linear;
}

select:focus {
  outline: none;
  border-color: rgb(52, 7, 253);
  background-color: #f0f5ff;
}

#envioForm {
  background-color: white;
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px;
  max-width: 100%;
  margin-top: 70px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrate{
  margin-top: 50px;
  font-size: 9px;
}

button {
  background-color: rgb(52, 7, 253);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  font-size: 0.9;
  width: 80%;
  transition: background-color 0.3s linear;
}

button:hover{
  background-color: #02532b;
}

input {
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 0.9;
  width: 100%;
  transition: background-color 0.3s linear;
}