

    main {
      display: flex;
      flex-direction: column; 
      padding: 20px;
      align-items: center; 
    }

    section {
      flex: 3;
      padding: 20px;
      text-align: center;
    }

    .destacados {
      color: #222222;
      display: flex;
      gap: 75px;
      justify-content: center;
      flex-wrap: wrap; 
    }

    section h2{
      color: #0E2A57;
      text-shadow:
     -2px -2px 0 #fff,
     2px -2px 0 #fff,
     -2px  2px 0 #fff,
     2px  2px 0 #fff;
    }


  .card:hover {
    transform: scale(1.08);
  box-shadow: 0 0 20px #0E2A57, 0 0 40px #0E2A57;
  border-color: #F3F3F3;
    }

  .card {
    border: 2px solid #F3F3F3;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
    background-color: #F3F3F3;
    color: #0E2A57;
    border: 1px solid #ccc;
    width: 250px;
    padding: 16px;
    text-align: center;
    position: relative;
    padding-bottom: 50px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .card img {
    width: 80%;
    height: auto;
    margin: 10px 0;
  }

  .card h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 0.95em;
    margin-bottom: 12px;
    font-family: "VT323", monospace;
  }
  
  .precio{
    color: #c0ad00;
    position: absolute;
    bottom: 16px;
    left: 50%;               
    transform: translateX(-50%);
  }



/* ===== QUIÉNES SOMOS ===== */
.nosotros {
  background: #fdfcf9; /* mismo fondo claro */
  color: #001144;
  text-align: center;
  padding: 60px 20px;
}

.nosotros h2 {
  font-size: 1.3rem;
  color: #0E2A57;
  margin-bottom: 20px;
}

.nosotros p {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto 50px;
  line-height: 1.5;
  color: #333;
}


 

