

    main {
      display: flex;
      padding: 20px;
    }

    section {
      flex: 3;
      padding: 20px;
      text-align: center;
    }

    .destacados {
      color: #222222;
      display: flex;
      gap: 75px;
      justify-content: center;
      flex-wrap: wrap; 
    }

    section h2{
      color: #0E2A57;
      text-shadow:
     -2px -2px 0 #fff,
     2px -2px 0 #fff,
     -2px  2px 0 #fff,
     2px  2px 0 #fff;
    }

  .card {
    background-color: #F3F3F3;
    color: #0E2A57;
    border: 1px solid #ccc;
    width: 250px;
    padding: 16px;
    text-align: center;
    position: relative;
    padding-bottom: 50px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .card img {
    width: 80%;
    height: auto;
    margin: 10px 0;
  }

  .card h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 0.95em;
    margin-bottom: 12px;
  }
  
  .precio{
    color: #c0ad00;
  }

  .card button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 0.9;
    display: flex;
    flex-direction: column;
    width: 80%;
    transition: background-color 0.3s linear;
    position: absolute;
    bottom: 16px;
    left: 10%;
    border-radius: 20px; 
  }

  .card button:hover{
    background-color: #4BB348;
  }

 

