body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  background-color: #f3f3f3;
  background-image: url("../imagenes/Fondo.png");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER */
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0E2A57;
  padding: 0 20px;
  height: 80px;
}

header h1 {
  color: #fff;
}

header .slogan {
  color: #F7E031;
  font-size: 16px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

/* Logo */
.logo {
  width: 80px;
  height: 80px;
  margin: 0 20px;
  object-fit: contain;
}

/* 칈cono del carrito */
.carrito {
  width: 40px;
  height: auto;
  margin-left: 15px;
  cursor: pointer;
}

/* Bot칩n iniciar sesi칩n (si lo hay) */
.iniciarSesion {
  width: 80px;
  height: 80px;
  margin-left: 15px;
  cursor: pointer;
}

/* Bloque del usuario (ADMIN / cerrar sesi칩n) */
.usuarioMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 20px;
  height: 100%;           /* 游댳 Hace que el bloque ocupe toda la altura del header */
}

.userPresentacion {
  color: #F7E031;
  font-size: 14px;
  margin: 0;
  text-align: right;
  line-height: 1;         /* 游댳 Evita que ocupe m치s altura vertical */
  margin-right: 50px;
  margin-top: 20px;
}

.usuarioMenu a {
  padding: 2px 0;         /* 游댳 Espaciado m치s controlado */
  text-decoration: none;
  color: white;
  font-size: 10px;
  line-height: 1;
}

.usuarioMenu a:hover {
  color: #F7E031;
}

.usuarioMenu a:active {
  color: #4BB348;
}


/* NAV */
nav {
  background-color: #0E2A57;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #F7E031;
}

nav a:active {
  color: #4BB348;
}

/* FOOTER */
footer {
  background-color: #0E2A57;
  color: #FFFFFF;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer .x,
footer .instagram,
footer .tiktok,
footer .whatsapp {
  width: 30px;
  height: 30px;
}

footer .x {
  width: 20px;
  height: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer #derechos{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "VT323", monospace;
  font-size: 16px;

}
