#registroForm {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 300px;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.login a {
  color: #6a0dad;
  text-decoration: underline;
  font-weight: bold;
}

button {
  background-color: rgb(52, 7, 253);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  font-size: 0.9rem;
  width: 80%;
  transition: background-color 0.3s linear;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #02532b;
}

input {
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 0.9rem;
  width: 100%;
  transition: background-color 0.3s linear;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: rgb(52, 7, 253);
  background-color: #f0f5ff;
}
